<footer class="footer">
    <div class="footer-container">
      <p>&copy; 2025 dapim.xyz. All rights reserved.</p>
      <a href="https://github.com/YanivGeorgePerez" target="_blank" class="github-link" title="GitHub">
        <img
          src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
          alt="GitHub"
          class="github-icon"
        >
      </a>
    </div>
  </footer>
  