<nav class="navbar">
  <div class="navbar-content">
    <div class="left-links">
      <a href="/">
        <img src="/resources/logo.png" alt="Home" class="navbar-icon">
        Home
      </a>
      <% if (user) { %>
        <a href="/create">
          <img src="/resources/login.png" alt="Create" class="navbar-icon">
          Create Paste
        </a>
      <% } %>
      <a href="/tos">
        <img src="/resources/tos.png" alt="Terms" class="navbar-icon">
        Terms
      </a>
    </div>

    <div class="right-links">
      <% if (user) { %>
        <div class="dropdown">
          <button class="dropdown-btn">
            <img src="/resources/profile.png" alt="User" class="navbar-icon">
            <%= user %> ⌄
          </button>
          <div class="dropdown-content">
            <a href="/profile">
              <img src="/resources/profile.png" alt="Profile" class="navbar-icon">
              Profile
            </a>
            <a href="/logout">
              <img src="/resources/login.png" alt="Logout" class="navbar-icon">
              Logout
            </a>
          </div>
        </div>
      <% } else { %>
        <a href="/login">
          <img src="/resources/login.png" alt="Login" class="navbar-icon">
          Login
        </a>
        <a href="/register">
          <img src="/resources/profile.png" alt="Register" class="navbar-icon">
          Register
        </a>
      <% } %>
    </div>
  </div>
</nav>
