<nav class="navbar">
  <div class="navbar-content">
    <div class="left-links">
      <a href="/">
        <img src="/resources/logo.png" alt="Home" width="40" height="40" style="filter: invert(1); margin-right: 6px;">
        Home
      </a>
      <% if (user) { %>
        <a href="/create">
          <img src="/resources/create.png" alt="Create Paste" width="18" height="18" style="filter: invert(1); margin-right: 6px;">
          Create Paste
        </a>
      <% } %>
      <a href="/tos">
        <img src="/resources/tos.png" alt="Terms of Service" width="18" height="18" style="filter: invert(1); margin-right: 6px;">
        Terms
      </a>
    </div>

    <div class="right-links">
      <% if (user) { %>
        <div class="dropdown">
          <button class="dropdown-btn">
            <img src="/resources/profile.png" alt="User" width="18" height="18" style="filter: invert(1); margin-right: 6px;">
            <%= user %> ⌄
          </button>
          <div class="dropdown-content">
            <a href="/profile">
              <img src="/resources/profile.png" alt="Profile" width="18" height="18" style="filter: invert(1); margin-right: 6px;">
              Profile
            </a>
            <a href="/logout">
              <img src="/resources/logout.png" alt="Logout" width="18" height="18" style="filter: invert(1); margin-right: 6px;">
              Logout
            </a>
          </div>
        </div>
      <% } else { %>
        <a href="/login">
          <img src="/resources/login.png" alt="Login" width="18" height="18" style="filter: invert(1); margin-right: 6px;">
          Login
        </a>
        <a href="/register">
          Register
        </a>
      <% } %>
    </div>
  </div>
</nav>
