<h1>Login</h1>
<form method="POST" action="/login">
  <input type="text" name="username" placeholder="Username" required><br>
  <input type="password" name="password" placeholder="Password" required><br>
  <div class="g-recaptcha" data-sitekey="<%= recaptchaSiteKey %>"></div>
  <button type="submit">Login</button>
</form>

<!-- Load the ReCAPTCHA API script -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
